.base-box {
	background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.3));
	padding: 3px 3px 3px 7px;
}

.important {
	font-weight: bold;
}

/*.editor-note {
	background-color: #9999fff;
	border-left: 6px solid #333999;
}*/

.warning {
	background-color: #ff9999;
	border-left: 6px solid #993333;
}

