ul {
  padding: 0;
  list-style-type: none;
}

ul li {
  text-decoration: none;
  display: block;
  color: black;
  background-color: red;
  padding: 5px;
  margin-bottom: 10px;
}

ul :hover {
  color: red;
  background-color: black;
}

h1 + p {
  font-style: bold;
  color: blue;
}